.main-content{
    max-width: 1100px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    p{
        margin: 20px auto;
        &:last-of-type{
            height: 400px;
        }
    }
}