.present{
    @media(max-width:500px) {
      padding:8px;
    }
      &-slider{
        position: relative;
        width: 100%;
        height: auto;
        
        &-btn { 
          width: 50px;
          height: 40px;   
         font-size: 30px;
         color: rgb(237, 233, 241);
          
          &:hover{
            cursor: pointer;
          }
        }
  
        &-item{
          @extend .flx;
          justify-content: center;
          
          &-block2{
            text-align:left;
            position: relative;
            width: 100%;
            @media (min-width:992px) {
              flex: 0 0 70%;
              max-width: 70%;
            }
            
          }
          &-heading{
            margin-top: 4rem;
            font-size:22px;
            font-family: 'Circe Extra Bold', sans-serif;
            line-height: 1.1;
          }
          &-text{
            margin: 3rem 0;
            font-size:20px;
          }
        }
  
      }
    }